<form class="form-horizontal" ng-init= "initProfessorRole()" required>

    <div class="form-group">
        <label class="col-sm-2">Role</label>
        <div class="col-sm-6">
            <input  ng-model="professorRole.role" class="form-control" />
        </div>
    </div>
    
    
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="saveProfessorRole()" type="submit" class="btn btn-primary" >Save</button>
    </div>
  </div>
</form>