<form class="form-horizontal" ng-init= "initDocument()" required>

    <div class="form-group">
        <label class="col-sm-2">OldPassword</label>
        <div class="col-sm-6">
        <input  ng-model="password.oldPassword" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group" hidden>
        <label class="col-sm-2">Path</label>
        <div class="col-sm-6">
            <input  ng-model="password.newPassword" class="form-control"/>
        </div>
    </div>
    
    <div hidden="true" class="form-group">
    	<label class="col-sm-2">Path</label>
        <div class="col-sm-6">
            <input ng-model="password.repeatPassword" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-disabled="!document.name||!document.path" ng-click="saveDocument()" type="submit" class="btn btn-primary" >Save</button>
    </div>
  </div>
</form>
