 <table ng-init= "getAllObligations()" class="table table-bordered" >
	<thead class="thead-inverse">
		<tr>
			<th>ID</th>
			<th>Obligation Type</th>
			<th>Obligation Date</th>
			<th>Points</th>	
			<th>Exam</th>
			<th>Subject</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="transaction in transactions">
			<td>{{ transaction.id }}</td>
			<td>{{ transaction.obligationType }}</td>
			<td>{{ transaction.dateOfObligation }}</td>
			<td>{{ transaction.points }}</td>
			<td>{{ transaction.examDTO.points }}</td>
			<td>{{ transaction.subjectDTO.name }}</td>
			</tr>
		
	</tbody>
</table>

<a href="#/addOrUpdateObligation" class="btn btn-success">Add new obligation</a>
<div ng-show="blueAlert" class="alert alert-success">
	<strong>Success  </strong> You have successfully deleted the student {{deleted.name}} {{deleted.lastName}} . 
</div>
<div ng-show="redAlert" class="alert alert-danger">
	<strong>Greska!</strong> nije obrisano.
</div>
<button ng-model="button" style="margin-left: 20%" ng-click="hideAlerts();firstPage()"
	class="btn btn-xs btn-info">First page</button>
<button ng-model="button" ng-click="hideAlerts();previousPage()"
	class="btn btn-xs btn-info">Previous page</button>
	<button class="btn btn-xs btn-warning">{{pageNum}}</button>
<button ng-model="button" ng-click="hideAlerts();nextPage()"
	class="btn btn-xs btn-info">Next page</button>
<button ng-model="button" ng-click="hideAlerts();lastPage()"
	class="btn btn-xs btn-info">Last page ( {{pageNumMax}} )</button>
