 <table ng-init= "getAllSubjects()" class="table table-bordered" >
	<thead class="thead-inverse">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Semester</th>	
			<th></th>
			<th></th>
			
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="subject in subjects">
			<td>{{ subject.id }}</td>
			<td>{{ subject.name }}</td>
			<td>{{ subject.semester }}</td>
			<td>
				<button ng-model="button" ng-click="hideAlerts();deleteSubject(subject.id)" class="btn btn-xs btn-danger">Delete</button>
			</td>
			<td>
				<a href="#/subjects/edit/{{ subject.id }}" class="btn btn-xs btn-primary">Edit</a>
			</td>
		</tr>
		
	</tbody>
</table>
<div ng-show="blueAlert" class="alert alert-success">
  <strong>Success  </strong> You have successfully deleted the subject {{deleted.name}} {{deleted.semester}} . 
</div>
<div ng-show="redAlert" class="alert alert-danger">
  <strong>Error!</strong> cannot be done.
</div>

<a href="#/addOrUpdateSubject" class="btn btn-success">Add new subject</a>

<div ng-show="blueAlert" class="alert alert-success">
	<strong>Success  </strong> You have successfully deleted the student {{deleted.name}} {{deleted.lastName}} . 
</div>
<div ng-show="redAlert" class="alert alert-danger">
	<strong>Greska!</strong> nije obrisano.
</div>
<a href="#/addOrUpdateStudent" class="btn btn-success">Add new student</a>
<button ng-model="button" style="margin-left: 20%" ng-click="hideAlerts();firstPage()"
	class="btn btn-xs btn-default">First page</button>
<button ng-model="button" ng-click="hideAlerts();previousPage()"
	class="btn btn-xs btn-default">Previous page</button>
<td>{{pageNum}}</td>
<button ng-model="button" ng-click="hideAlerts();nextPage()"
	class="btn btn-xs btn-default">Next page</button>
<button ng-model="button" ng-click="hideAlerts();lastPage()"
	class="btn btn-xs btn-default">Last page ( {{pageNumMax}} )</button>