<div ng-init= "getUserSubjects()" class=" row card-group">
  <div ng-repeat="subject in subjects" class=" col-6 col-md-4  card">
    
    <div class="card-block">
      <h4 class="card-title"><small>Subject name:</small> {{ subject.name }}</h4>
      <p class="card-text">Semester: {{ subject.semester }}</p>
      <p class="card-text"><small class="text-muted">ID: {{ subject.id }}</small></p>
      	<button ng-model="button" ng-click="" class="btn btn-xs btn-primary">apply for exam</button>
    </div>
  </div>
</div>
